
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <!-- JavaScript -->
            <mimeMap fileExtension=".js" mimeType="text/javascript" />
            <mimeMap fileExtension=".mjs" mimeType="text/javascript" />
            
            <!-- CSS -->
            <mimeMap fileExtension=".css" mimeType="text/css" />
            
            <!-- JSON -->
            <mimeMap fileExtension=".json" mimeType="application/json" />
            
            <!-- Web App Manifest -->
            <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
            
            <!-- Fonts -->
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
            <mimeMap fileExtension=".woff" mimeType="font/woff" />
            <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
            <mimeMap fileExtension=".otf" mimeType="font/otf" />
            
            <!-- Images -->
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        </staticContent>
        
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
